---
import '/src/css/collapse-footer.css'

---
<div class="panel panel-default">
    <div class="panel-heading" id="headingThree">
        <p class="panel-title mb-2 border-responsive">
            <a class="cursorNone h5collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true">
                Collapse
                <i class="fa fa-angle-down icontfooterc"></i>
            </a>
        </p>
    </div>
    <div id="collapseThree" class="panel-collapse menufooter collapse in" aria-expanded="true" style="">
        <div class="panel-body">
            <ul class="listafooter">
                <li>
                    <a href="#" title="">
                        link 1
                    </a>
                </li>
                <li>
                    <a href="#" title="">
                        link 2
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>