

<div class="cbsc crpt-2">
    <div class="cbsc__cbs">
        <input type="radio" class="cbs__cbsir radiocl radiocllegales" data-leg="4633" id="lr01" name="legales" data-target="l0"/>

        <label for="lr01" class="cbs__cbslh baalamboox legal-cursor">
            <div class="cbslh__cbsrtc">
                <p class="cbsrtc__cbst legal-main-title">Zagg</p>
            </div>
            <div class="cbslh__cbsic">
                <span class="options-address__container">
                    <svg class="legal-arrow" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 12.5156C7.83754 12.5156 7.68627 12.4456 7.54622 12.3055L1.17647 5.59963C1.12045 5.54361 1.07563 5.48198 1.04202 5.41475C1.01401 5.34753 1 5.2719 1 5.18786C1 5.08142 1.02521 4.98338 1.07563 4.89375C1.12605 4.80411 1.19328 4.73408 1.27731 4.68366C1.36695 4.63324 1.46499 4.60803 1.57143 4.60803C1.7395 4.60803 1.87675 4.66405 1.98319 4.7761L8.36975 11.482H7.63025L14.0084 4.7761C14.1261 4.66405 14.2633 4.60803 14.4202 4.60803C14.5322 4.60803 14.6303 4.63324 14.7143 4.68366C14.7983 4.73408 14.8655 4.80411 14.916 4.89375C14.972 4.98338 15 5.08142 15 5.18786C15 5.33912 14.9412 5.47358 14.8235 5.59123L8.45378 12.3055C8.39216 12.3727 8.32213 12.426 8.2437 12.4652C8.16527 12.4988 8.08403 12.5156 8 12.5156Z" fill="black"></path>
                    </svg>
                </span>
            </div>
        </label>
        <div id="legalbs4633" class="collapse" data-id="l0" aria-expanded="false" style="height: 0px;">
            <div class="well cbs__cbsp">
                <p>Hola</p>
               
            </div>
        </div>
    </div>
    <div class="cbsc__cbs">
        <input type="radio" class="cbs__cbsir radiocl radiocllegales" data-leg="4533" id="lr12" name="legales" data-target="l1"/>

        <label for="lr12" class="cbs__cbslh baalamboox legal-cursor">
            <div class="cbslh__cbsrtc">
                <p class="cbsrtc__cbst legal-main-title">Envío gratis</p>
            </div>
            <div class="cbslh__cbsic">
                <span class="options-address__container">
                    <svg class="legal-arrow" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 12.5156C7.83754 12.5156 7.68627 12.4456 7.54622 12.3055L1.17647 5.59963C1.12045 5.54361 1.07563 5.48198 1.04202 5.41475C1.01401 5.34753 1 5.2719 1 5.18786C1 5.08142 1.02521 4.98338 1.07563 4.89375C1.12605 4.80411 1.19328 4.73408 1.27731 4.68366C1.36695 4.63324 1.46499 4.60803 1.57143 4.60803C1.7395 4.60803 1.87675 4.66405 1.98319 4.7761L8.36975 11.482H7.63025L14.0084 4.7761C14.1261 4.66405 14.2633 4.60803 14.4202 4.60803C14.5322 4.60803 14.6303 4.63324 14.7143 4.68366C14.7983 4.73408 14.8655 4.80411 14.916 4.89375C14.972 4.98338 15 5.08142 15 5.18786C15 5.33912 14.9412 5.47358 14.8235 5.59123L8.45378 12.3055C8.39216 12.3727 8.32213 12.426 8.2437 12.4652C8.16527 12.4988 8.08403 12.5156 8 12.5156Z" fill="black"></path>
                    </svg>
                </span>
            </div>
        </label>
        <div id="legalbs4533" class="collapse in" data-id="l1" aria-expanded="true" style="">
            <div class="well cbs__cbsp">
                <p>Hola</p>
              
            </div>
        </div>
    </div>
</div>

<script>
      $(document).ready(function () {
       $(".radiocllegales[type='radio']").change((event) => {
           $(`[data-id="${event.currentTarget.dataset.target}"]`).collapse("show");
           $(`.radiocllegales[type="radio"][name="${event.currentTarget.name}"]:not(:checked)`).map((index, element) => {
               $(`[data-id="${element.dataset.target}"]`).collapse("hide");
           });
       });
   }
   )
</script>