---
import '../../css/input-admin.css'
---
<div class="form-group">

    <label for="fechaFinal"><i class="fa fa-calendar"></i>&nbsp; Fecha</label>
    <input class="form-control date"  name="Final"  type="date"  >

</div>