


<div class=" colw mx-auto">
    <div class="entryarea w-100">
        <input  id="contrasena_registro" class="inputani " type="password"  required />
        <label class="labelline" for="contrasena_registro">Contraseña</label>
    </div>
    <div class="mensajesinput mt-1 text-left">
        Debe contener al menos: 1 minúscula, 1 mayúscula, 1 caracter especial (@caracterEspeciales)
        1 número y una longitud minima de 8 caracteres
    </div>

</div>

<script>
       
       const textInput = document.getElementById('contrasena_registro');

textInput.addEventListener('input', function () {
    const inputValue = textInput.value.trim();
    var labelinput = document.getElementById("labelnws1");
    if (inputValue !== '') {

        labelinput.classList.add('focusclassinputemail');
    } else {

        labelinput.classList.remove('focusclassinputemail');
    }
}); 
 </script>