---
import '/src/css/root.css';
import '/src/css/buttons.css';
import '/src/vendor/swiper/css/swiper.css';
import '/src/css/conversion-module.css';
---
<script is:inline src="/public/vendor/swiper/swiper.js"></script>
<script is:inline src="/src/vendor/swiper/js/swiper-custom.min.js"></script>

<style>
    :not(a, strong, em, del, span, input, code, br) + :not(a, strong, em, del, span, input, code, br, :where(.not-content *)) {
        margin-top: unset !important;
    }
</style>

<div class="cm-container">
    <div class="cm">
        <h2 class="cm-title">Conversion module</h2>
        <div class="cm-carousel-container">
            <div class="swiper cm-swiper conversion-module">
                <div class="swiper-wrapper">

                    <div class="swiper-slide cm-card-container">
                        <div class="cm-card-body">
                            <div class="cm-card-data">
                                <a href="#" class="cm-link-picture">
                                    <div class="cm-picture-container">
                                        <div class="cm-picture">
                                            <div class="cm-media-picture">
                                                <picture>
                                                    <source srcset="https://webonline.macstore.mx/img/sku/IPADAPP626_FG.webp" />
                                                    <img src="https://webonline.macstore.mx/img/sku/IPADAPP626_FG.jpg" alt="example-img-alt" height="280" width="280" loading="lazy" />
                                                </picture>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="cm-data-container">
                                    <div class="cm-tags-container">
                                        <span class="nuevo">NUEVO</span>
                                    </div>
                                    <div class="cm-info-container">
                                        <h3>
                                            <a href="#">iPad Pro M4</a>
                                        </h3>
                                        <div class="cm-price-details">
                                            <span class="cm-caption">Caption</span>
                                        </div>
                                        <div class="cm-price-container">
                                            <div class="cm-price">
                                                <div class="cm-price-regular-container">
                                                    <div class="cm-price-regular">
                                                        <span>$5,634.00 MXN</span>
                                                    </div>
                                                </div>
                                                <div class="cm-price-sale-container">
                                                    <div class="cm-price-sale">
                                                        <div class="cm-price-old">
                                                            <span>$6,875.00</span>
                                                            <span class="nuevo">-10.0%</span>
                                                        </div>
                                                        <div class="cm-price-discount">
                                                            <span>$5,400.00 MXN</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cm-price-per-months">
                                            <span>$460.00/mes por 12 meses.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cm-card-button">
                                <a href="#" class="boton boton-primario"><span>Comprar</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide cm-card-container">
                        <div class="cm-card-body">
                            <div class="cm-card-data">
                                <a href="#" class="cm-link-picture">
                                    <div class="cm-picture-container">
                                        <div class="cm-picture">
                                            <div class="cm-media-picture">
                                                <picture>
                                                    <source srcset="https://webonline.macstore.mx/img/sku/IPADAPP626_FG.webp" />
                                                    <img src="https://webonline.macstore.mx/img/sku/IPADAPP626_FG.jpg" alt="example-img-alt" height="280" width="280" loading="lazy" />
                                                </picture>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="cm-data-container">
                                    <div class="cm-tags-container">
                                        <span class="notificacion">NOTIFICARME</span>
                                    </div>
                                    <div class="cm-info-container">
                                        <h3>
                                            <a href="#">iPhone 16 Pro</a>
                                        </h3>
                                        <div class="cm-price-details">
                                            <span class="cm-caption">Caption</span>
                                        </div>
                                        <div class="cm-price-container">
                                            <div class="cm-price">
                                                <div class="cm-price-regular-container">
                                                    <div class="cm-price-regular">
                                                        <span>$5,634.00 MXN</span>
                                                    </div>
                                                </div>
                                                <div class="cm-price-sale-container">
                                                    <div class="cm-price-sale">
                                                        <div class="cm-price-old">
                                                            <span>$6,875.00</span>
                                                            <span class="nuevo">-10.0%</span>
                                                        </div>
                                                        <div class="cm-price-discount">
                                                            <span>$5,400.00 MXN</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cm-price-per-months">
                                            <span>$460.00/mes por 12 meses.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cm-card-button">
                                <a href="#" class="boton boton-primario"><span>Comprar</span></a>
                            </div>
                        </div>
                    </div>


                    <div class="swiper-slide cm-card-container">
                        <div class="cm-card-body">
                            <div class="cm-card-data">
                                <a href="#" class="cm-link-picture">
                                    <div class="cm-picture-container">
                                        <div class="cm-picture">
                                            <div class="cm-media-picture">
                                                <picture>
                                                    <source srcset="https://webonline.macstore.mx/img/sku/IPADAPP626_FG.webp" />
                                                    <img src="https://webonline.macstore.mx/img/sku/IPADAPP626_FG.jpg" alt="example-img-alt" height="280" width="280" loading="lazy" />
                                                </picture>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="cm-data-container">
                                    <div class="cm-tags-container">
                                        <span class="promocion">PROMOCIÓN</span>
                                    </div>
                                    <div class="cm-info-container">
                                        <h3>
                                            <a href="#">Título producto</a>
                                        </h3>
                                        <div class="cm-price-details">
                                            <span class="cm-caption">Caption</span>
                                        </div>
                                        <div class="cm-price-container">
                                            <div class="cm-price">
                                                <div class="cm-price-regular-container">
                                                    <div class="cm-price-regular">
                                                        <span>$5,634.00 MXN</span>
                                                    </div>
                                                </div>
                                                <div class="cm-price-sale-container">
                                                    <div class="cm-price-sale">
                                                        <div class="cm-price-old">
                                                            <span>$6,875.00</span>
                                                            <span class="nuevo">-10.0%</span>
                                                        </div>
                                                        <div class="cm-price-discount">
                                                            <span>$5,400.00 MXN</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cm-price-per-months">
                                            <span>$460.00/mes por 12 meses.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cm-card-button">
                                <a href="#" class="boton boton-primario"><span>Comprar</span></a>
                            </div>
                        </div>
                    </div>


                    <div class="swiper-slide cm-card-container">
                        <div class="cm-card-body">
                            <div class="cm-card-data">
                                <a href="#" class="cm-link-picture">
                                    <div class="cm-picture-container">
                                        <div class="cm-picture">
                                            <div class="cm-media-picture">
                                                <picture>
                                                    <source srcset="https://webonline.macstore.mx/img/sku/IPADAPP626_FG.webp" />
                                                    <img src="https://webonline.macstore.mx/img/sku/IPADAPP626_FG.jpg" alt="example-img-alt" height="280" width="280" loading="lazy" />
                                                </picture>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="cm-data-container">
                                    <div class="cm-tags-container">
                                        <span class="promo-temporada">PROMOCIÓN TEMPORAL</span>
                                    </div>
                                    <div class="cm-info-container">
                                        <h3>
                                            <a href="#">Título producto</a>
                                        </h3>
                                        <div class="cm-price-details">
                                            <span class="cm-caption">Caption</span>
                                        </div>
                                        <div class="cm-price-container">
                                            <div class="cm-price">
                                                <div class="cm-price-regular-container">
                                                    <div class="cm-price-regular">
                                                        <span>$5,634.00 MXN</span>
                                                    </div>
                                                </div>
                                                <div class="cm-price-sale-container">
                                                    <div class="cm-price-sale">
                                                        <div class="cm-price-old">
                                                            <span>$6,875.00</span>
                                                            <span class="nuevo">-10.0%</span>
                                                        </div>
                                                        <div class="cm-price-discount">
                                                            <span>$5,400.00 MXN</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cm-price-per-months">
                                            <span>$460.00/mes por 12 meses.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cm-card-button">
                                <a href="#" class="boton boton-primario"><span>Comprar</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide cm-card-container">
                        <div class="cm-card-body">
                            <div class="cm-card-data">
                                <a href="#" class="cm-link-picture">
                                    <div class="cm-picture-container">
                                        <div class="cm-picture">
                                            <div class="cm-media-picture">
                                                <picture>
                                                    <source srcset="https://webonline.macstore.mx/img/sku/IPADAPP626_FG.webp" />
                                                    <img src="https://webonline.macstore.mx/img/sku/IPADAPP626_FG.jpg" alt="example-img-alt" height="280" width="280" loading="lazy" />
                                                </picture>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="cm-data-container">
                                    <div class="cm-tags-container">
                                        <span class="financiamiento">FINANCIAMIENTO</span>
                                    </div>
                                    <div class="cm-info-container">
                                        <h3>
                                            <a href="#">Título producto</a>
                                        </h3>
                                        <div class="cm-price-details">
                                            <span class="cm-caption">Caption</span>
                                        </div>
                                        <div class="cm-price-container">
                                            <div class="cm-price">
                                                <div class="cm-price-regular-container">
                                                    <div class="cm-price-regular">
                                                        <span>$5,634.00 MXN</span>
                                                    </div>
                                                </div>
                                                <div class="cm-price-sale-container">
                                                    <div class="cm-price-sale">
                                                        <div class="cm-price-old">
                                                            <span>$6,875.00</span>
                                                            <span class="nuevo">-10.0%</span>
                                                        </div>
                                                        <div class="cm-price-discount">
                                                            <span>$5,400.00 MXN</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cm-price-per-months">
                                            <span>$460.00/mes por 12 meses.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cm-card-button">
                                <a href="#" class="boton boton-primario"><span>Comprar</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cm-swiper-arrows">
            <div class="cmsa-container-prev">
                <div class="swiper-button-prev conversion-module-prev">
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="24" cy="24" r="24" fill="#0071E3" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M28.3233 34.6466L30 32.9699L21.3534 24.3233L30 15.6767L28.3233 14L18 24.3233L28.3233 34.6466Z" fill="white" />
                    </svg>
                </div>
            </div>
            <div class="cmsa-container-next">
                <div class="swiper-button-next conversion-module-next">
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="24" cy="24" r="24" fill="#0071E3" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.6767 34.6466L18 32.9699L26.6466 24.3233L18 15.6767L19.6767 14L30 24.3233L19.6767 34.6466Z" fill="white" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const conversionModule = new SwiperCustom({
        swiperNameClass : "conversion-module",
        slidesPerView: "auto",
        spaceBetween: 0,
        loop : true,
        breakPoints: {},
        enableEventOn: false,
        enablePaginationEl: true,
    });

    console.log(conversionModule);
</script>
