---
import { Card, Code } from "@astrojs/starlight/components";

const basicAlerts = {
    success: `<div class="alert alert-success" role="alert">Éxito</div>`,
    info: `<div class="alert alert-info" role="alert">Información</div>`,
    warning: `<div class="alert alert-warning" role="alert">Advertencia</div>`,
    error: `<div class="alert alert-danger" role="alert">Error</div>`,
    specialOffer: `<div class="alert alert-special-offer" role="alert">Oferta especial</div>`,
    affordability: `<div class="alert alert-affordability" role="alert">Asequibilidad</div>`,
    orderRelated: `<div class="alert alert-order-related" role="alert">Relacionados</div>`,
    inStock: `<div class="alert alert-" role="alert">En stock</div>`,
    storeRelated: `<div class="alert alert-store-related" role="alert">Sugeridos</div>`
};
---
<h5>⚠️ Alertas para advertencias</h5>
<div class="alert alert-warning" role="alert">Advertencia</div>
<Code code={ basicAlerts.warning } lang="html" frame="terminal" />
<p>Usa este tipo de alerta cuando se requira mostrar información de advertencia para el usuario.</p>

<br />
<hr />

<h5>✅ Alertas para éxitos</h5>
<div class="alert alert-success" role="alert">Éxito</div>
<Code code={ basicAlerts.success } lang="html" frame="terminal" />
<p>Si requires mostrar una alerta cuando algo haya salido correctamente esta es la ideal.</p>

<br />
<hr />

<h5>ℹ️ Alertas para información</h5>
<div class="alert alert-info" role="alert">Información</div>
<Code code={ basicAlerts.info } lang="html" frame="terminal" />
<p>Para simples mensajes usa este tipo de alerta, va bien.</p>     

<br />
<hr />

<h5>❌ Alertas para errores</h5>
<div class="alert alert-danger" role="alert">Error</div>
<Code code={ basicAlerts.info } lang="html" frame="terminal" />
<p>Si lo tuyo es querer llamar la atención del usuario por algún motivo de conflicto, esta alerta es la indicada.</p>

<br />
<hr />

<h5>🎊 Alertas para ofertas especiales</h5>
<div class="alert alert-special-offer" role="alert">Oferta especial</div>
<Code code={ basicAlerts.specialOffer } lang="html" frame="terminal"/>
<p>
    Las ofertas especiales son una gran opotunidad para captar la atención del usuario,
    para lograr ello usa este tipo de alertas.
</p>
<br />
<hr />

<div class="alert alert-affordability" role="alert">Asequibilidad</div>
<Card title="Alerta ">
    <Code code={ basicAlerts.affordability } lang="html" />
</Card>

<br />
<hr />

<div class="alert alert-order-related" role="alert">Relacionados</div>
<Card title="Alerta de información">
    <Code code={ basicAlerts.orderRelated } lang="html" />
</Card>

<br />
<hr />

<div class="alert alert-in-stock" role="alert">En stock</div>
<Card title="Alerta de información">
    <Code code={ basicAlerts.inStock } lang="html" />
</Card>

<br />
<hr />

<div class="alert alert-store-related" role="alert">Sugeridos</div>
<Card title="Alerta de información">
    <Code code={ basicAlerts.storeRelated } lang="html" />
</Card>
