---
import { Card, Code } from "@astrojs/starlight/components";

const iconAlerts = {
    success: `
<div class="alert alert-warning alert-dismissible alert-flex" role="alert">
    <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.89088 15.7818C6.87891 15.7818 5.92588 15.5877 5.0318 15.1996C4.14263 14.8165 3.35663 14.2859 2.67379 13.608C1.99586 12.9251 1.46285 12.1391 1.07476 11.25C0.691588 10.3559 0.5 9.40286 0.5 8.39088C0.5 7.37891 0.691588 6.42833 1.07476 5.53917C1.46285 4.64509 1.99586 3.85909 2.67379 3.18116C3.35172 2.49832 4.13526 1.96531 5.02443 1.58213C5.91851 1.19404 6.87154 1 7.88352 1C8.89549 1 9.84852 1.19404 10.7426 1.58213C11.6367 1.96531 12.4227 2.49832 13.1006 3.18116C13.7785 3.85909 14.3115 4.64509 14.6996 5.53917C15.0877 6.42833 15.2818 7.37891 15.2818 8.39088C15.2818 9.40286 15.0877 10.3559 14.6996 11.25C14.3115 12.1391 13.7785 12.9251 13.1006 13.608C12.4227 14.2859 11.6367 14.8165 10.7426 15.1996C9.85344 15.5877 8.90286 15.7818 7.89088 15.7818ZM7.89088 14.8312C8.78005 14.8312 9.61272 14.6642 10.3889 14.3301C11.17 13.9961 11.8553 13.5343 12.4448 12.9448C13.0392 12.3553 13.501 11.6724 13.8301 10.8963C14.1642 10.1152 14.3312 9.28005 14.3312 8.39088C14.3312 7.50172 14.1642 6.66905 13.8301 5.89287C13.4961 5.11178 13.0343 4.42648 12.4448 3.83698C11.8553 3.24256 11.17 2.78079 10.3889 2.45165C9.61272 2.1176 8.77759 1.95057 7.88352 1.95057C6.99435 1.95057 6.15922 2.1176 5.37813 2.45165C4.60195 2.78079 3.91911 3.24256 3.32961 3.83698C2.74502 4.42648 2.2857 5.11178 1.95165 5.89287C1.62251 6.66905 1.45794 7.50172 1.45794 8.39088C1.45794 9.28005 1.62251 10.1152 1.95165 10.8963C2.2857 11.6724 2.74748 12.3553 3.33698 12.9448C3.92648 13.5343 4.60932 13.9961 5.3855 14.3301C6.16168 14.6642 6.99681 14.8312 7.89088 14.8312ZM7.88352 9.7099C7.58385 9.7099 7.43156 9.55024 7.42665 9.23092L7.34559 5.28863C7.34068 5.13634 7.38735 5.01107 7.4856 4.91282C7.58385 4.81457 7.71403 4.76545 7.87615 4.76545C8.03335 4.76545 8.16353 4.81703 8.26669 4.92019C8.36985 5.01844 8.41898 5.14125 8.41407 5.28863L8.32564 9.23092C8.32073 9.55024 8.17335 9.7099 7.88352 9.7099ZM7.88352 11.9942C7.69193 11.9942 7.52981 11.9279 7.39718 11.7953C7.26454 11.6626 7.19822 11.5079 7.19822 11.331C7.19822 11.1444 7.26454 10.9872 7.39718 10.8594C7.52981 10.7317 7.69193 10.6678 7.88352 10.6678C8.07019 10.6678 8.22985 10.7317 8.36249 10.8594C8.49512 10.9872 8.56144 11.1444 8.56144 11.331C8.56144 11.5128 8.49267 11.67 8.35512 11.8026C8.22248 11.9304 8.06528 11.9942 7.88352 11.9942Z" fill="black"/>
    </svg>
    Advertencia
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.61681 2.61684C2.73501 2.49863 2.87855 2.43953 3.04741 2.43953C3.21628 2.43953 3.3577 2.49652 3.47169 2.6105L7.75243 6.89124L12.0268 2.61683C12.1408 2.50285 12.2801 2.44375 12.4448 2.43953C12.6136 2.43953 12.7572 2.49863 12.8754 2.61684C12.9936 2.73504 13.0527 2.87858 13.0527 3.04744C13.0527 3.21631 12.9957 3.35773 12.8817 3.47172L8.60731 7.74612L12.8754 12.0142C12.9936 12.1324 13.0527 12.2759 13.0527 12.4448C13.0527 12.6137 12.9936 12.7572 12.8754 12.8754C12.7572 12.9936 12.6136 13.0527 12.4448 13.0527C12.2801 13.0485 12.1387 12.9873 12.0205 12.8691L7.75243 8.601L3.47169 12.8817C3.3577 12.9957 3.21628 13.0527 3.04741 13.0527C2.87855 13.0527 2.73501 12.9936 2.61681 12.8754C2.4986 12.7572 2.4395 12.6137 2.4395 12.4448C2.44372 12.2802 2.50282 12.1408 2.61681 12.0269L6.89755 7.74612L2.61681 3.46538C2.50282 3.3514 2.44372 3.21209 2.4395 3.04744C2.4395 2.87858 2.4986 2.73504 2.61681 2.61684Z" fill="currentColor"/>
            </svg>
        </span>
    </button>
</div>
    `,
    specialOffer: `
<div class="alert alert-special-offer alert-dismissible alert-flex" role="alert">
        <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.40808 14.9344C7.93958 15.403 7.46411 15.6372 6.98169 15.6372C6.49927 15.6418 6.01917 15.4053 5.54138 14.9275L1.10913 10.5092C0.635986 10.0314 0.399414 9.55127 0.399414 9.06885C0.399414 8.58643 0.635986 8.10864 1.10913 7.6355L7.96277 0.809692C8.12048 0.656616 8.26196 0.542969 8.38721 0.46875C8.51245 0.394531 8.65393 0.348145 8.81165 0.32959C8.96936 0.306396 9.17114 0.2948 9.41699 0.2948H12.068C12.2906 0.2948 12.4716 0.313354 12.6107 0.350464C12.7545 0.387573 12.889 0.454834 13.0143 0.552246C13.1395 0.64502 13.2903 0.779541 13.4666 0.955811L15.0947 2.57703C15.271 2.75793 15.4055 2.91101 15.4983 3.03625C15.5911 3.1615 15.656 3.29602 15.6931 3.43982C15.7302 3.57898 15.7488 3.75989 15.7488 3.98254V6.63354C15.7488 6.87939 15.7372 7.08118 15.714 7.23889C15.6954 7.39197 15.649 7.53113 15.5748 7.65637C15.5052 7.78162 15.3916 7.92542 15.2339 8.08777L8.40808 14.9344ZM7.83057 14.2874L14.6285 7.48242C14.7167 7.39893 14.7816 7.30847 14.8234 7.21106C14.8698 7.11365 14.8929 7 14.8929 6.87012V3.9408C14.8929 3.7135 14.8048 3.51172 14.6285 3.33545L12.7081 1.422C12.5365 1.24109 12.337 1.15063 12.1097 1.15063H9.18042C9.05054 1.15063 8.93689 1.17383 8.83948 1.22021C8.74207 1.2666 8.64929 1.33386 8.56116 1.422L1.74231 8.21301C1.46863 8.48669 1.32947 8.76965 1.32483 9.06189C1.32483 9.35413 1.46631 9.64172 1.74927 9.92468L6.11194 14.2874C6.68713 14.8625 7.26001 14.8625 7.83057 14.2874ZM11.2748 5.61768C11.0336 5.61768 10.8318 5.5365 10.6694 5.37415C10.5117 5.21179 10.4329 5.01233 10.4329 4.77576C10.4329 4.53455 10.5117 4.33276 10.6694 4.17041C10.8318 4.00806 11.0336 3.92688 11.2748 3.92688C11.5206 3.92688 11.7224 4.00806 11.8801 4.17041C12.0425 4.33276 12.1237 4.53455 12.1237 4.77576C12.1237 5.01233 12.0425 5.21179 11.8801 5.37415C11.7224 5.5365 11.5206 5.61768 11.2748 5.61768Z" fill="#5856D6"/>
        </svg>
        Oferta especial
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.61681 2.61684C2.73501 2.49863 2.87855 2.43953 3.04741 2.43953C3.21628 2.43953 3.3577 2.49652 3.47169 2.6105L7.75243 6.89124L12.0268 2.61683C12.1408 2.50285 12.2801 2.44375 12.4448 2.43953C12.6136 2.43953 12.7572 2.49863 12.8754 2.61684C12.9936 2.73504 13.0527 2.87858 13.0527 3.04744C13.0527 3.21631 12.9957 3.35773 12.8817 3.47172L8.60731 7.74612L12.8754 12.0142C12.9936 12.1324 13.0527 12.2759 13.0527 12.4448C13.0527 12.6137 12.9936 12.7572 12.8754 12.8754C12.7572 12.9936 12.6136 13.0527 12.4448 13.0527C12.2801 13.0485 12.1387 12.9873 12.0205 12.8691L7.75243 8.601L3.47169 12.8817C3.3577 12.9957 3.21628 13.0527 3.04741 13.0527C2.87855 13.0527 2.73501 12.9936 2.61681 12.8754C2.4986 12.7572 2.4395 12.6137 2.4395 12.4448C2.44372 12.2802 2.50282 12.1408 2.61681 12.0269L6.89755 7.74612L2.61681 3.46538C2.50282 3.3514 2.44372 3.21209 2.4395 3.04744C2.4395 2.87858 2.4986 2.73504 2.61681 2.61684Z" fill="currentColor"/>
                </svg>
            </span>
        </button>
</div>
    `,
};

---

<link rel="stylesheet" href="/src/vendor/bootstrap/css/alerts.css" />

<Card title="😃 Ejemplos de alertas con botón de cierre.">
    <div class="alert alert-warning alert-dismissible alert-flex" role="alert">
        <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.89088 15.7818C6.87891 15.7818 5.92588 15.5877 5.0318 15.1996C4.14263 14.8165 3.35663 14.2859 2.67379 13.608C1.99586 12.9251 1.46285 12.1391 1.07476 11.25C0.691588 10.3559 0.5 9.40286 0.5 8.39088C0.5 7.37891 0.691588 6.42833 1.07476 5.53917C1.46285 4.64509 1.99586 3.85909 2.67379 3.18116C3.35172 2.49832 4.13526 1.96531 5.02443 1.58213C5.91851 1.19404 6.87154 1 7.88352 1C8.89549 1 9.84852 1.19404 10.7426 1.58213C11.6367 1.96531 12.4227 2.49832 13.1006 3.18116C13.7785 3.85909 14.3115 4.64509 14.6996 5.53917C15.0877 6.42833 15.2818 7.37891 15.2818 8.39088C15.2818 9.40286 15.0877 10.3559 14.6996 11.25C14.3115 12.1391 13.7785 12.9251 13.1006 13.608C12.4227 14.2859 11.6367 14.8165 10.7426 15.1996C9.85344 15.5877 8.90286 15.7818 7.89088 15.7818ZM7.89088 14.8312C8.78005 14.8312 9.61272 14.6642 10.3889 14.3301C11.17 13.9961 11.8553 13.5343 12.4448 12.9448C13.0392 12.3553 13.501 11.6724 13.8301 10.8963C14.1642 10.1152 14.3312 9.28005 14.3312 8.39088C14.3312 7.50172 14.1642 6.66905 13.8301 5.89287C13.4961 5.11178 13.0343 4.42648 12.4448 3.83698C11.8553 3.24256 11.17 2.78079 10.3889 2.45165C9.61272 2.1176 8.77759 1.95057 7.88352 1.95057C6.99435 1.95057 6.15922 2.1176 5.37813 2.45165C4.60195 2.78079 3.91911 3.24256 3.32961 3.83698C2.74502 4.42648 2.2857 5.11178 1.95165 5.89287C1.62251 6.66905 1.45794 7.50172 1.45794 8.39088C1.45794 9.28005 1.62251 10.1152 1.95165 10.8963C2.2857 11.6724 2.74748 12.3553 3.33698 12.9448C3.92648 13.5343 4.60932 13.9961 5.3855 14.3301C6.16168 14.6642 6.99681 14.8312 7.89088 14.8312ZM7.88352 9.7099C7.58385 9.7099 7.43156 9.55024 7.42665 9.23092L7.34559 5.28863C7.34068 5.13634 7.38735 5.01107 7.4856 4.91282C7.58385 4.81457 7.71403 4.76545 7.87615 4.76545C8.03335 4.76545 8.16353 4.81703 8.26669 4.92019C8.36985 5.01844 8.41898 5.14125 8.41407 5.28863L8.32564 9.23092C8.32073 9.55024 8.17335 9.7099 7.88352 9.7099ZM7.88352 11.9942C7.69193 11.9942 7.52981 11.9279 7.39718 11.7953C7.26454 11.6626 7.19822 11.5079 7.19822 11.331C7.19822 11.1444 7.26454 10.9872 7.39718 10.8594C7.52981 10.7317 7.69193 10.6678 7.88352 10.6678C8.07019 10.6678 8.22985 10.7317 8.36249 10.8594C8.49512 10.9872 8.56144 11.1444 8.56144 11.331C8.56144 11.5128 8.49267 11.67 8.35512 11.8026C8.22248 11.9304 8.06528 11.9942 7.88352 11.9942Z" fill="black"/>
        </svg>
        Advertencia
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.61681 2.61684C2.73501 2.49863 2.87855 2.43953 3.04741 2.43953C3.21628 2.43953 3.3577 2.49652 3.47169 2.6105L7.75243 6.89124L12.0268 2.61683C12.1408 2.50285 12.2801 2.44375 12.4448 2.43953C12.6136 2.43953 12.7572 2.49863 12.8754 2.61684C12.9936 2.73504 13.0527 2.87858 13.0527 3.04744C13.0527 3.21631 12.9957 3.35773 12.8817 3.47172L8.60731 7.74612L12.8754 12.0142C12.9936 12.1324 13.0527 12.2759 13.0527 12.4448C13.0527 12.6137 12.9936 12.7572 12.8754 12.8754C12.7572 12.9936 12.6136 13.0527 12.4448 13.0527C12.2801 13.0485 12.1387 12.9873 12.0205 12.8691L7.75243 8.601L3.47169 12.8817C3.3577 12.9957 3.21628 13.0527 3.04741 13.0527C2.87855 13.0527 2.73501 12.9936 2.61681 12.8754C2.4986 12.7572 2.4395 12.6137 2.4395 12.4448C2.44372 12.2802 2.50282 12.1408 2.61681 12.0269L6.89755 7.74612L2.61681 3.46538C2.50282 3.3514 2.44372 3.21209 2.4395 3.04744C2.4395 2.87858 2.4986 2.73504 2.61681 2.61684Z" fill="currentColor"/>
                </svg>
            </span>
        </button>
    </div>
    <Code code={ iconAlerts.success } lang="html" frame="terminal" />
    <br />
    <hr />
    <br />
    <div class="alert alert-special-offer alert-dismissible alert-flex" role="alert">
        <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.40808 14.9344C7.93958 15.403 7.46411 15.6372 6.98169 15.6372C6.49927 15.6418 6.01917 15.4053 5.54138 14.9275L1.10913 10.5092C0.635986 10.0314 0.399414 9.55127 0.399414 9.06885C0.399414 8.58643 0.635986 8.10864 1.10913 7.6355L7.96277 0.809692C8.12048 0.656616 8.26196 0.542969 8.38721 0.46875C8.51245 0.394531 8.65393 0.348145 8.81165 0.32959C8.96936 0.306396 9.17114 0.2948 9.41699 0.2948H12.068C12.2906 0.2948 12.4716 0.313354 12.6107 0.350464C12.7545 0.387573 12.889 0.454834 13.0143 0.552246C13.1395 0.64502 13.2903 0.779541 13.4666 0.955811L15.0947 2.57703C15.271 2.75793 15.4055 2.91101 15.4983 3.03625C15.5911 3.1615 15.656 3.29602 15.6931 3.43982C15.7302 3.57898 15.7488 3.75989 15.7488 3.98254V6.63354C15.7488 6.87939 15.7372 7.08118 15.714 7.23889C15.6954 7.39197 15.649 7.53113 15.5748 7.65637C15.5052 7.78162 15.3916 7.92542 15.2339 8.08777L8.40808 14.9344ZM7.83057 14.2874L14.6285 7.48242C14.7167 7.39893 14.7816 7.30847 14.8234 7.21106C14.8698 7.11365 14.8929 7 14.8929 6.87012V3.9408C14.8929 3.7135 14.8048 3.51172 14.6285 3.33545L12.7081 1.422C12.5365 1.24109 12.337 1.15063 12.1097 1.15063H9.18042C9.05054 1.15063 8.93689 1.17383 8.83948 1.22021C8.74207 1.2666 8.64929 1.33386 8.56116 1.422L1.74231 8.21301C1.46863 8.48669 1.32947 8.76965 1.32483 9.06189C1.32483 9.35413 1.46631 9.64172 1.74927 9.92468L6.11194 14.2874C6.68713 14.8625 7.26001 14.8625 7.83057 14.2874ZM11.2748 5.61768C11.0336 5.61768 10.8318 5.5365 10.6694 5.37415C10.5117 5.21179 10.4329 5.01233 10.4329 4.77576C10.4329 4.53455 10.5117 4.33276 10.6694 4.17041C10.8318 4.00806 11.0336 3.92688 11.2748 3.92688C11.5206 3.92688 11.7224 4.00806 11.8801 4.17041C12.0425 4.33276 12.1237 4.53455 12.1237 4.77576C12.1237 5.01233 12.0425 5.21179 11.8801 5.37415C11.7224 5.5365 11.5206 5.61768 11.2748 5.61768Z" fill="#5856D6"/>
        </svg>
        Oferta especial
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.61681 2.61684C2.73501 2.49863 2.87855 2.43953 3.04741 2.43953C3.21628 2.43953 3.3577 2.49652 3.47169 2.6105L7.75243 6.89124L12.0268 2.61683C12.1408 2.50285 12.2801 2.44375 12.4448 2.43953C12.6136 2.43953 12.7572 2.49863 12.8754 2.61684C12.9936 2.73504 13.0527 2.87858 13.0527 3.04744C13.0527 3.21631 12.9957 3.35773 12.8817 3.47172L8.60731 7.74612L12.8754 12.0142C12.9936 12.1324 13.0527 12.2759 13.0527 12.4448C13.0527 12.6137 12.9936 12.7572 12.8754 12.8754C12.7572 12.9936 12.6136 13.0527 12.4448 13.0527C12.2801 13.0485 12.1387 12.9873 12.0205 12.8691L7.75243 8.601L3.47169 12.8817C3.3577 12.9957 3.21628 13.0527 3.04741 13.0527C2.87855 13.0527 2.73501 12.9936 2.61681 12.8754C2.4986 12.7572 2.4395 12.6137 2.4395 12.4448C2.44372 12.2802 2.50282 12.1408 2.61681 12.0269L6.89755 7.74612L2.61681 3.46538C2.50282 3.3514 2.44372 3.21209 2.4395 3.04744C2.4395 2.87858 2.4986 2.73504 2.61681 2.61684Z" fill="currentColor"/>
                </svg>
            </span>
        </button>
    </div>
    <Code code={ iconAlerts.specialOffer } lang="html" frame="terminal" />
</Card>
