---
import SwalBasic from './sweetalert/SwalBasic.astro';

---

<link rel="stylesheet" href="/public/downloads/vendor/sweetalert/sweetalert2.min.css" />
<script is:inline src="/public/downloads/vendor/sweetalert/sweetalert2.all.min.js"></script>

<button type="button" id="btn-swal">Abrir modal Swal</button>

<SwalBasic />

<script>
    const btnSwal = document?.querySelector("#btn-swal");

    btnSwal.addEventListener('click', () => {
        Swal.fire({
            title: "Do you want to save the changes?",
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: "Save",
            denyButtonText: `Don't save`,
            showCloseButton: true,
            }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                Swal.fire("Saved!", "", "success");
            } else if (result.isDenied) {
                Swal.fire("Changes are not saved", "", "info");
            }
        });
    });
    
</script>