---

import '../../css/grid.css'
import '../../css/collapse.css'
---
<div class="panel panel-default collapsetable">
    <div class="panel-heading" id="headingThree">
        <p class="panel-title mb-2 border-responsive d-none">
            <a class="cursorNone h5collapse position-relatie" data-toggle="collapse" data-parent="#accordion" href="#collapseThree2">
                Costos de pantallas iPhone
                <i class="fa fa-angle-down icontfooterc22"></i>
            </a>
        </p>
    </div>
    <div id="collapseThree2" class="panel-collapse collapse in menufooter mobile-collapse">
        <div class="panel-body">
            <table class="table  preciosMS">
                <thead>
                    <tr>
                        <th>Modelo de iPhone</th>
                        <th class="text-right font-14">
                            Reparación de pantallas
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>iPhone 14 Pro Max</td>
                        <td class="afs ">MXN 7,599</td>
                    </tr>

                    <tr>
                        <td>iPhone 14 Pro</td>
                        <td class="afs ">MXN 6,699</td>
                    </tr>

                    <tr>
                        <td>iPhone 14 Plus</td>
                        <td class="afs ">MXN 6,699</td>
                    </tr>

                    <tr>
                        <td>iPhone SE, iPhone SE 2da Generación, iPhone SE Tercera Gen</td>
                        <td class="afs">MXN 2,899</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>