---
import "/src/css/tabs-admin.css"
---
<ul class="nav nav-tabs">
    <li class="nav2 mt-1"><a data-toggle="tab" href="#home" class="nav1" aria-expanded="false"><i class="fa fa-ticket" aria-hidden="true"></i>Cupones</a></li>
    <li class="nav2 mt-1 active"><a data-toggle="tab" href="#menu1" class="nav1" aria-expanded="true"><i class="fa fa-gift" aria-hidden="true"></i>Certificados de Regalo</a></li>
</ul>
<div class="tab-content">
    <div id="home" class="tab-pane fade">
        <h3><b>Cupones promocionales </b></h3>
        <p>Coloca el cupón en la caja de texto para validar  su estatus.  </p>
        
    </div>
    <div id="menu1" class="tab-pane fade active in">
        <h3><b>Certificados de Regalo</b></h3>
        <p>Coloca el codigo del certificado en la caja de texto para validarlo. </p>
        
    </div>
</div>