---
---

<div id="Memoriasram" class="botones-conf btn-pdp divclaseposicion3">
    <h6 class="label-configuracion">
        <span>Memoria RAM</span><span
            class="lk-sm-modal-ayuda-pdp info-icon"
            data-etq="memoriasram"
            data-v="mac"
            ><svg
                width="20"
                height="20"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                    d="M7.68408 14.3682C6.76888 14.3682 5.90699 14.1927 5.09842 13.8417C4.29428 13.4952 3.58345 13.0154 2.96591 12.4023C2.35281 11.7847 1.87077 11.0739 1.5198 10.2697C1.17327 9.46117 1 8.59928 1 7.68408C1 6.76888 1.17327 5.90921 1.5198 5.10508C1.87077 4.2965 2.35281 3.58567 2.96591 2.97257C3.579 2.35503 4.28762 1.873 5.09175 1.52646C5.90033 1.17549 6.76222 1 7.67742 1C8.59262 1 9.45451 1.17549 10.2631 1.52646C11.0717 1.873 11.7825 2.35503 12.3956 2.97257C13.0087 3.58567 13.4907 4.2965 13.8417 5.10508C14.1927 5.90921 14.3682 6.76888 14.3682 7.68408C14.3682 8.59928 14.1927 9.46117 13.8417 10.2697C13.4907 11.0739 13.0087 11.7847 12.3956 12.4023C11.7825 13.0154 11.0717 13.4952 10.2631 13.8417C9.45895 14.1927 8.59928 14.3682 7.68408 14.3682ZM7.68408 13.5085C8.48822 13.5085 9.24126 13.3574 9.94321 13.0553C10.6496 12.7532 11.2694 12.3356 11.8025 11.8025C12.3401 11.2694 12.7577 10.6518 13.0553 9.94987C13.3574 9.24348 13.5085 8.48822 13.5085 7.68408C13.5085 6.87995 13.3574 6.12691 13.0553 5.42496C12.7532 4.71856 12.3356 4.0988 11.8025 3.56567C11.2694 3.0281 10.6496 2.61049 9.94321 2.31283C9.24126 2.01072 8.48599 1.85967 7.67742 1.85967C6.87328 1.85967 6.11802 2.01072 5.41163 2.31283C4.70968 2.61049 4.09214 3.0281 3.55901 3.56567C3.03033 4.0988 2.61493 4.71856 2.31283 5.42496C2.01516 6.12691 1.86633 6.87995 1.86633 7.68408C1.86633 8.48822 2.01516 9.24348 2.31283 9.94987C2.61493 10.6518 3.03255 11.2694 3.56567 11.8025C4.0988 12.3356 4.71634 12.7532 5.41829 13.0553C6.12024 13.3574 6.87551 13.5085 7.68408 13.5085ZM6.49121 11.3493C6.38458 11.3493 6.29351 11.316 6.21798 11.2494C6.1469 11.1783 6.11136 11.0917 6.11136 10.9895C6.11136 10.8828 6.1469 10.794 6.21798 10.7229C6.29351 10.6518 6.38458 10.6163 6.49121 10.6163H7.45084V7.15762H6.57784C6.46678 7.15762 6.3757 7.12208 6.30462 7.05099C6.23353 6.97991 6.19799 6.89328 6.19799 6.79109C6.19799 6.68891 6.23353 6.60228 6.30462 6.53119C6.3757 6.46011 6.46678 6.42457 6.57784 6.42457H7.85735C7.98619 6.42457 8.08615 6.46678 8.15723 6.55119C8.22832 6.63116 8.26386 6.74 8.26386 6.87773V10.6163H9.21682C9.32789 10.6163 9.41897 10.6518 9.49005 10.7229C9.56113 10.794 9.59668 10.8828 9.59668 10.9895C9.59668 11.0917 9.56113 11.1783 9.49005 11.2494C9.41897 11.316 9.32789 11.3493 9.21682 11.3493H6.49121ZM7.6441 5.19838C7.44418 5.19838 7.27313 5.12951 7.13096 4.99179C6.9888 4.84962 6.91771 4.67858 6.91771 4.47866C6.91771 4.27429 6.9888 4.10102 7.13096 3.95886C7.27313 3.81669 7.44418 3.74561 7.6441 3.74561C7.84846 3.74561 8.01951 3.81669 8.15723 3.95886C8.2994 4.10102 8.37048 4.27429 8.37048 4.47866C8.37048 4.67858 8.2994 4.84962 8.15723 4.99179C8.01951 5.12951 7.84846 5.19838 7.6441 5.19838Z"
                    fill="black"></path></svg
            ></span>
    </h6>
    <ul class="lista-general list-propiedades" data-bgen="Memoria RAM">
        <li
            
            data-toggle="tooltip"
            data-arrow="end"
            data-justify="end"
            data-placement="top"
            title=""
            id="24gbclicmemoriaramLinea"
            class="item-pdp item-list-pdp cx-not-option no-disponible"
            data-valor="24gb"
            data-nd=""
            data-cl-dif-pre=""
            data-skumc=""
            data-precio-mc="0"
            data-vtxt="24 GB"
            data-original-title="Combinación no existente"
        >
            24 GB <x class="dif-price-eq"></x>
        </li>
        <li
            id="36gbclicmemoriaramLinea"
            class="item-pdp item-list-pdp memoriaramLinea active"
            data-valor="36gb"
            data-nd=""
            data-cl-dif-pre=""
            data-skumc="NA"
            data-precio-mc="0"
            data-vtxt="36 GB"
        >
            36 GB <x class="dif-price-eq"></x>
        </li>
        <li
            style="cursor:context-menu";
            data-toggle="tooltip"
            data-arrow="end"
            data-justify="end"
            data-placement="top"
            title=""
            id="48gbclicmemoriaramLinea"
            class="item-pdp item-list-pdp cx-not-option no-disponible"
            data-valor="48gb"
            data-nd=""
            data-cl-dif-pre=""
            data-skumc=""
            data-precio-mc="0"
            data-vtxt="48 GB"
            data-original-title="Combinación no existente"
        >
            48 GB <x class="dif-price-eq"></x>
        </li>
    </ul>
</div>

<script>
    $(function() {
        $('[data-toggle="popover"]').popover();
    });
</script>