---
import { Card, Code } from "@astrojs/starlight/components";

const alerts = `
<div class="alert alert-success" role="alert">Éxito</div>
<div class="alert alert-info" role="alert">Información</div>
<div class="alert alert-warning" role="alert">Advertencia</div>
<div class="alert alert-danger" role="alert">Error</div>
<div class="alert alert-special-offer" role="alert">Oferta especial</div>
<div class="alert alert-affordability" role="alert">Asequibilidad</div>
<div class="alert alert-order-related" role="alert">Relacionados</div>
<div class="alert alert-in-stock" role="alert">En stock</div>
<div class="alert alert-store-related" role="alert">Sugeridos</div>
`;
---

<link rel="stylesheet" href="/src/vendor/bootstrap/css/alerts.css" />
<link rel="stylesheet" href="/src/vendor/bootstrap/css/animations.css" />
<Card title="Si quieres mostrar algun tipo de contenido como texto que llame la antención al usuario, las alertas son recomendadas." icon="">
    <div class="alert alert-success" role="alert">Éxito</div>
    <div class="alert alert-info" role="alert">Información</div>
    <div class="alert alert-warning" role="alert">Advertencia</div>
    <div class="alert alert-danger" role="alert">Error</div>
    <div class="alert alert-special-offer" role="alert">Oferta especial</div>
    <div class="alert alert-affordability" role="alert">Asequibilidad</div>
    <div class="alert alert-order-related" role="alert">Relacionados</div>
    <div class="alert alert-in-stock" role="alert">En stock</div>
    <div class="alert alert-store-related" role="alert">Sugeridos</div>
    <Code code={ alerts } lang="html" />
</Card>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
  <div class="collapse" id="collapseExample">
    <div class="well">
      Something greate
    </div>
  </div>

<script>
    $('#collapseExample');
</script>
