.legal-title {
    font-size: 48px;
    font-family: "sf-pro-display-regular";
    height: auto;
    text-align: center;
    line-height: initial;
    margin-top: 25px;
    width: 100%;
}

.legal-text {
    padding: 24px;
    word-wrap: break-word;
    font-family: "sf-pro-text-regular";
}

    .legal-text p {
        text-align: justify;
    }

.legal-text a {
    color: var(--bblue);
    font-family: "sf-pro-text-regular";
}

    .legal-text a:hover {
        color: var(--button-primary-hover);
        text-decoration-line: underline;
    }

.legal-text h3 {
    font-size: 24px;
    font-family: "sf-pro-display-semibold";
    margin: 0;
}

.legal-subtitle {
    font-size: 16px;
    font-family: "sf-pro-text-light";
    text-align: center;
    margin-bottom: 16px;
}

.legal-arrow > path {
    fill: #121212;
}
.cbs__cbsir:checked ~ .cbs__cbslh .legal-arrow > path {
    fill: var(--bblue);
}

.cbs__cbsir:checked ~ .cbs__cbslh .legal-arrow {
    transform: rotate(180deg);
}

.legal-main-title {
    font-size: 16px;
    font-family: "sf-pro-display-bold";
}

.legal-cursor {
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .legal-title {
        font-size: 32px;
    }
    .legal-text h3 {
        text-align: center;
    }
}

.cbsc {
    height: auto;
    width: 100%;
}

.cbsc__cbs {
    position: relative;
    height: auto;
    margin-bottom: 1px;
    width: 100%;
}

.cbs__cbsir {
    position: absolute;
    height: 1px;
    left: 0;
    opacity: 0;
    top: 0;
    width: 1px;
}

.cbs__cbslh {
    display: flex;
    align-items: flex-start;
    outline: 1px solid var(--gray3);
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 14px;
}

.cbslh__cbsrtc {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.cbslh__cbsic {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
}

.cbslh__cbsic--column {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 0;
}

.cbsrtc__cbsr {
    position: relative;
    height: 18px;
    margin-right: 10px;
    width: 18px;
}

.cbsr__cbsrd, .cbsr__cbsre {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cbsrtc__cbst {
    color: var(--bblack);
    font-family: "sf-pro-display-light";
    font-size: 14px;
    line-height: 21px;
    margin: 0;
}

.cbst__light {
    color: var(--gray2);
}

.cbs__cbsp {
    background-color: var(--gray4);
    outline: 1px solid var(--gray3);
    padding: 16px;
    height: auto;
}

.cbsc__cbs:first-child > .cbs__cbslh {
    border-radius: 4px 4px 0 0;
}

.cbsc__cbs:last-child > .cbs__cbslh {
    border-radius: 0 0 4px 4px;
}

.cbsc__cbs:last-child > .cbs__cbsir:checked ~ .cbs__cbslh.baalamboox {
    border-radius: 0px
}

.cbsc__cbs:last-child .well {
    border-radius: 0 0 4px 4px;
}

.cbs__cbsir:checked ~ .cbs__cbslh {
    outline: 1px solid var(--bblue);
    background-color: rgb(0, 113, 227, 0.04);
}

    .cbs__cbsir:checked ~ .cbs__cbslh .cbsr__cbsre {
        display: block;
    }

    .cbs__cbsir:checked ~ .cbs__cbslh .cbsic__cbsi > path {
        fill: var(--bblue);
    }

.cbs__cbsir:checked ~ .cbs__cbslh {
    background-color: rgb(0, 113, 227, 0.05);
    outline-color: var(--bblue);
    margin-bottom: 2px;
}


.cbs__cbsir:not([data-target]):checked ~ .cbs__cbslh {
    background-color: var(--wwhite);
    outline: 1px solid var(--gray3);
    margin-bottom: 1px;
}

.cbs__cbsir:not(:checked) ~ .cbs__cbslh {
    outline: 1px solid var(--gray3);
    background-color: var(--wwhite);
    margin-bottom: 1px;
}

    .cbs__cbsir:not(:checked) ~ .cbs__cbslh .cbsr__cbsrd {
        display: block;
    }

    .cbs__cbsir:not(:checked) ~ .cbs__cbslh .cbsic__cbsi > path {
        fill: var(--gray2);
    }

.cbsc__cbs .cbs__cbsir.panel-inside[data-target] ~ .cbs__cbslh {
    border-radius: 4px !important;
}

.cbsc__cbs .cbs__cbsir.panel-inside[data-target]:checked ~ .cbs__cbslh {
    border-radius: 4px 4px 0 0 !important;
}

.cbsc__cbs .cbs__cbsir.panel-inside[data-target]:not(:checked) ~ .cbs__cbslh {
    border-radius: 4px 4px 0 0 !important;
}
.mt-0{
    margin-top: 0 !important;
}

.tablas{
    margin-top:20px !important;
}
.tablas h2{
    margin-bottom: 20px;
}
.tabb-m {
    margin-top: 25px !important;
   
}
