:root {
    --sl-font: 'sf-pro';
}

/* :::::::::: Starlight custum :::::::::: */

[data-has-sidebar][data-has-toc] .main-pane:where(.astro-67yu43on) {
    width: 100%;
}

.right-sidebar-container:where(.astro-67yu43on) {
    width: 100%;
    max-width: 320px;
}

.sl-container:where(.astro-7nkwcw3z) {
    margin-inline: auto;
    max-width: 55rem;
}

.expressive-code pre > code {
    font-size: 12px !important;
}

.card {
    /* border-color: var(--gray4);
    box-shadow: 2px 4px 10px var(--gray4); */
    border-radius: 0.5rem;
}

.card .title {
    font-size: 16px;
    font-weight: normal;
}

/* :::::::::: Cards with executable code :::::::::: */
.card-exe-code .card {
    position: relative;
}

.card-exe-code .title {
    justify-content: flex-start;
}

.card-exe-code .button-play {
    display: flex;
    position: absolute;
    align-items: center;
    cursor: pointer;
    /* background-color: var(--wwhite); */
    background-color: inherit;
    border-radius: 50px;
    border: 1px solid var(--bblue);
    height: 32px;
    justify-content: center;
    outline: 0px solid var(--bblue);
    top: 0;
    right: 1.1rem;
    width: 32px;
}

.card-exe-code .button-play:focus {
    animation: play 1s ease-out infinite alternate;
}

.card-exe-code .button-play:focus > svg > path {
    animation: play 1s ease-out infinite alternate;
}

.card-exe-code .button-play > svg > path {
    fill: var(--bblue);
}

.card-exe-code .code {
    text-align: left;
}

pre {
    border-radius: 4px !important;
    /* border-color: var(--gray3) !important;
    background-color: var(--wwhite) !important; */
}

.card-exe-code .button-play:hover {
    background-color: var(--bblue);
}

.card-exe-code .button-play:hover > svg > path {
    fill: var(--wwhite);
}

@keyframes play {
    0% {
        outline-width: 1px;
        outline-offset: -1px;
        background-color: var(--bblue);
        fill: var(--wwhite)
    }

    25% {
        outline-width: 1px;
        outline-offset: 5px;
    }

    50% {
        outline-width: 1px;
        outline-offset: 10px;
    }

    75% {
        outline-width: 1px;
        outline-offset: 15px;
    }

    100% {
        outline-width: 1px;
        outline-offset: 20px;
        outline-color: transparent;
    }
}

/* :::::::::: Buttons :::::::::: */
.buttons .card {
    flex-direction: column-reverse;
}

/* :::::::::: Color palete :::::::::: */
.color-palate .title {
    font-size: 14px;
}

.color-palate .color-container {
    height: 64px;
    width: 64px;
    border-radius: 50px;
    margin: 0 auto;
}

.color-palate .subtext {
    display: block;
    font-size: 12px;
    text-align: center;
}

/* :::::::::: CX icons gallery :::::::::: */

.cx-icons-gallery .card-grid {
    grid-template-columns: repeat(auto-fit, 120px);
    justify-content: center;
}

.cx-icons-gallery .expressive-code {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
}

.cx-icons-gallery .expressive-code .frame pre {
    display: none;
}

.cx-icons-gallery .card {
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    min-width: 120px;
    max-height: 120px;
    max-width: 120px;
}

.cx-icons-gallery .card:hover {
    transform: scale(1.05);    
}

.cx-icons-gallery .feedback {
    --tooltip-bg: var(--bblue) !important;
    background-color: var(--bblue) !important;
}

.cx-icons-gallery .feedback::before {
    background-color: red !important;
}

.cx-icons-gallery .card:hover .copy > button {
    opacity: 1;
}

.cx-icons-gallery img {
    margin: 0 auto;
}

.cx-icons-gallery .actions-buttons {
    display: flex;
    column-gap: 1rem;
}

.cx-icons-gallery .title {
    display: none;
}

.cx-icons-gallery .button-download,
.cx-icons-gallery .button-copy {
    all: unset;
    cursor: pointer;
    min-height: 20px;
    min-width: 20px;
    border: 1px dotted black;
    border-radius: 4px;
    padding: 2px;
}

/* :::::::::: Alertify section :::::::::: */



/* :::::::::: INPUTS :::::::::: */
.inputs{
    margin-top: 15px !important;
    margin-bottom: 15px;
}
.inputs .code{
    text-align: left;
}
/* :::::::::: LABEL INPUT :::::::::: */
.inputs .divtext label{
    margin-top:0;
}
.select .entryarea{
    height: 45px;
}
.select .entryarea label{
    margin-top:0;
}
/* :::::::::: RADIO INPUT :::::::::: */
.radiobutton svg {
    display: none;
    max-width: 100%;
    height: auto;
}
.bg-white{
    background-color: white;
}
.bg-white table tr th{
    color: black;
}
.bg-white table tbody{
    color: black;
}
.table.preciosMS{
    display: table;
    padding: 10px;
}
.mx-auto{
    margin:auto;
}
.ftable table{
padding: 10px;

/* :::::::::: RADIO INPUT :::::::::: */
.lobs .card{
background-color: #fff;
padding-top: 0px;
padding-bottom: 0px;



}

.lobs .card .title{
    display: none;
}


/* :::::::::: Bootstrap :::::::::: */

.alerts .expressive-code .frame.is-terminal .header {
    border-radius: 4px 4px 0px 0px;
}

.alerts .expressive-code .frame pre {
    border-radius: 0px 0px 4px 4px !important;
}