:root {
    --sl-font: 'sf-pro';
}

.card {
    border-radius: 1rem;
}

.card .title {
    font-size: 16px;
    font-weight: 100;
    justify-content: center;
}

.card .text-example {
    text-align: center;
    font-size: 24px;
}

.card .code {
    text-align: center;
}

/* :::::::::: Buttons :::::::::: */
.buttons .title {
    display: none;
}

.buttons .code {
    text-align: left;
}

.buttons .buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.buttons a, .buttons a:hover {
    color: unset;
}

/* :::::::::: Color palete :::::::::: */
.color-palate .title {
    font-size: 14px;
}

.color-palate .color-container {
    height: 64px;
    width: 64px;
    border-radius: 50px;
    margin: 0 auto;
}

.color-palate .subtext {
    display: block;
    font-size: 12px;
    text-align: center;
}

/* :::::::::: CX icons gallery :::::::::: */

.cx-icons-gallery .card-grid {
    grid-template-columns: repeat(auto-fit, 120px);
    justify-content: center;
}

.cx-icons-gallery .card {
    align-items: center;
    justify-content: center;
    min-height: 120px;
    min-width: 120px;
    max-height: 120px;
    max-width: 120px;
}

.cx-icons-gallery img {
    margin: 0 auto;
}

.cx-icons-gallery .actions-buttons {
    display: flex;
    column-gap: 1rem;
}

.cx-icons-gallery .title {
    display: none;
}

.cx-icons-gallery .button-download,
.cx-icons-gallery .button-copy {
    all: unset;
    cursor: pointer;
    min-height: 20px;
    min-width: 20px;
    border: 1px dotted black;
    border-radius: 4px;
    padding: 2px;
}


/* :::::::::: Sweet Alert 2 :::::::::: */

.sweet-container .card {
    position: relative;
}

.sweet-container .title {
    justify-content: flex-start;
}

.sweet-container .button-play {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 1.1rem;
}

.sweet-container .code {
    text-align: left;
}

/* :::::::::: INPUTS :::::::::: */
.inputs{
    margin-top: 15px !important;
    margin-bottom: 15px;
}
.inputs .code{
    text-align: left;
}
/* :::::::::: LABEL INPUT :::::::::: */
.inputs .divtext label{
    margin-top:0;
}
.select .entryarea{
    height: 45px;
}
.select .entryarea label{
    margin-top:0;
}
/* :::::::::: RADIO INPUT :::::::::: */
.radiobutton svg {
    display: none;
    max-width: 100%;
    height: auto;
}
