
.form-control {
    font-size: 14px !important;
    border-radius: 4px !important;
    border: 1.2px solid #d9d9d9 !important;
    height: 40px !important;
    box-shadow: none !important;
    width: 100%;
    padding: 6px 12px;
    background-color: white;
    color:black;
}
label {
    font-family: 'sf-pro-display-medium' !important;
    max-width: 100%;
    font-weight: 300 !important;
    font-size: 14px;
}

input[type=date].date:in-range::-webkit-datetime-edit-day-field,
input[type=date].date:in-range::-webkit-datetime-edit-month-field,
input[type=date].date:in-range::-webkit-datetime-edit-text,
input[type=date].date:in-range::-webkit-datetime-edit-year-field {
    color: #555 !important;
}

input[type=date].date::-webkit-calendar-picker-indicator {
    background: initial;
    bottom: initial;
    color: initial;
    cursor: initial;
    height: initial;
    left: initial;
    position: initial;
    right: initial;
    top: initial;
    width: initial;
}


