
.form-control {
    font-size: 14px !important;
    border-radius: 4px !important;
    border: 1.2px solid #d9d9d9 !important;
    height: 40px !important;
    box-shadow: none !important;
    width: 100%;
    padding: 6px 12px;
    background-color: white;
    color:black;
}
label {
    font-family: 'sf-pro-display-medium' !important;
    max-width: 100%;
    font-weight: 300 !important;
    font-size: 14px;
}

input[type=date].date:in-range::-webkit-datetime-edit-day-field,
input[type=date].date:in-range::-webkit-datetime-edit-month-field,
input[type=date].date:in-range::-webkit-datetime-edit-text,
input[type=date].date:in-range::-webkit-datetime-edit-year-field {
    color: #555 !important;
}

input[type=date].date::-webkit-calendar-picker-indicator {
    background: initial;
    bottom: initial;
    color: initial;
    cursor: initial;
    height: initial;
    left: initial;
    position: initial;
    right: initial;
    top: initial;
    width: initial;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
    /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

 .slider.round:before {
    border-radius: 50%;
}
input:checked + .desh {
    background-color: #0071e3;
}