
.divMac h3{
    font-size: 25px !important;
    font-weight: 600 !important;
}
.divMac h4{
    font-size: 16px !important;
    font-weight: 100 !important;
}
.d-block{
    display: block !important;
}