.plp-tile {
    padding-bottom: 36px;
}

.plp-tile .pt-container {
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 5rem;
}

.plp-tile .pt-item {
    display: flex;
    border-bottom: 1px solid var(--gray3);
    flex-wrap: wrap;
    flex-direction: row-reverse;
    min-height: 366px;
}

.plp-tile .pt-media {
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: 100%;
    margin: auto;
    margin-right: 5rem;
    width: calc(32.33% - 8px * 2 / 3);
}

.plp-tile .pt-media-mobile {
    display: none;
}

.plp-tile .pt-media-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 270px;
}

.plp-tile .pt-img {
    height: auto;
    max-width: 100%;
    max-height: 270px;
    object-position: center center;
    width: auto;
}

.plp-tile .pt-info {
    width: 50%;
}

.plp-tile .pt-info-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 360px;
    justify-content: center;
    min-width: 410px;
    word-break: break-all;
}

.plp-tile .pt-badges {
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    row-gap: 5px;
    text-align: center;
    width: auto;
}

.plp-tile .pt-caption {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: auto;
    justify-content: center;
    margin-right: 5px;
    width: auto;
}

.plp-tile .pt-tag {
    font-family: "sf-pro-text-semibold";
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    letter-spacing: 0.05em;
    padding: 0;
    margin: 0;
}

.plp-tile .pt-heading {
    display: flex;
    align-items: center;
    color: var(--bblack);
    flex-direction: row;
    font-family: "sf-pro-text-semibold";
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 1px;
    justify-content: flex-start;
    margin-top: 5px;
    text-align: center;
    width: auto;
}

.plp-tile .pt-title {
    display: flex;
    align-items: flex-start;
    font-size: 32px;
    font-family: "sf-pro-text-semibold";
    line-height: 42px;
    text-align: left;
    letter-spacing: -1px;
    color: var(--bblack);
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    word-break: break-word;
}

.plp-tile .pt-description {
    max-width: 310px;
    margin-top: 16px;
}

.plp-tile .pt-text {
    color: var(--gray1);
    font-family: "sf-pro-text-regular";
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 150%;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: left;
    word-break: break-word;
}

.plp-tile .pt-action {
    display: flex;
    align-items: center;
    column-gap: calc(26px + 13px);
    flex-direction: row;
    height: 48px;
    justify-content: flex-start;
    margin-top: 16px;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .plp-tile {
        padding-inline: 1.5rem;
    }

    .plp-tile .pt-container {
        padding-inline: 5rem;
    }

    .plp-tile .pt-item {
        flex-direction: unset;
        padding-top: 24px;
    }

    .plp-tile .pt-title {
        padding-inline: 10px;
        text-align: center;
        word-break: break-word;
    }

    .plp-tile .pt-description {
        margin-top: unset;
        max-width: unset;
        width: 100%;
    }

    .plp-tile .pt-media {
        height: unset;
        margin-right: unset;
        width: 100%;
    }

    .plp-tile .pt-media-desktop {
        display: none;
    }

    .plp-tile .pt-media-mobile {
        display: flex;
    }

    .plp-tile .pt-info {
        width: 100%;
    }

    .plp-tile .pt-info-container {
        align-items: center;
        gap: 8px;
        height: auto;
        max-width: unset;
        margin-left: unset;
        margin-top: unset;
        min-width: unset;
        padding: 16px 0 24px;
    }

    .plp-tile .pt-badges {
        align-self: center;
        justify-content: center;
    }

    .plp-tile .pt-tag {
        font-size: 14px;
        letter-spacing: 0.05em;
    }

    .plp-tile .pt-heading {
        justify-content: center;
        margin-top: unset;
    }

    .plp-tile .pt-text {
        text-align: center;
    }

    .plp-tile .pt-action {
        flex-direction: column;
        height: auto;
        min-width: unset;
        margin-top: unset;
        padding-bottom: unset;
        row-gap: 8px;
        width: 100%;
    }

    .plp-tile .pt-action > a {
        width: 100%;
    }

    .plp-tile .pt-action > :first-child {
        padding: 16px;
    }
}

@media screen and (max-width: 749px) {
    .plp-tile {
        padding-inline: 1.5rem;
    }

    .plp-tile .pt-container {
        padding-inline: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .plp-tile .pt-container {
        padding-inline: 0;
    }
}