@import url('./fonts.css');

:root {
    /* :::::::::: Base colors :::::::::: */
    --wwhite: #ffffff;
    --bblack: #000000;
    --gray1: #424245;
    --gray2: #6e6e73;
    --gray3: #d0d0d0;
    --gray4: #f2f2f2;
    --oorange: #bf4800;
    --bblue: #0071e3;
    --ggreen: #008900;
    --rred: #e30000;

    /* :::::::::: Offers colors :::::::::: */
    --new: var(--oorange);
    --sale: var(--ggreen);
    --special-offer: #5957d6;
    --affordability: #0071bc;
    --order-related: #336e7b;
    --in-stock: #a3684e;
    --store-related: #707070;

    /* :::::::::: State color buttons :::::::::: */
    --button-primary-hover: #62bbfa;
    --button-secondary: #d0d0d0;

    /* :::::::::: Colors with transparency :::::::::: */
    --oorange-alfa-dark: rgb(191, 72, 0, 0.1);
    --oorange-alfa-light: rgb(191, 72, 0, 0.04);
    --bblue-alfa-dark: rgb(0, 113, 227, 0.1);
    --bblue-alfa-light: rgb(0, 113, 227, 0.04);
    --ggreen-alfa-dark: rgb(0, 137, 0, 0.1);
    --ggreen-alfa-light: rgba(0, 137, 0, 0.04);
    --rred-alfa-dark: rgb(227, 0, 0, 0.1);
    --rred-alfa-light: rgba(227, 0, 0, 0.04);
    --special-offer-alfa-dark: rgb(89, 87, 214, 0.1);
    --special-offer-alfa-light: rgba(89, 87, 214, 0.04);
    --affordability-alfa-dark: rgb(0, 113, 188, 0.1);
    --affordability-alfa-light: rgba(0, 113, 188, 0.04);
    --order-related-alfa-dark: rgb(51, 110, 123, 0.1);
    --order-related-alfa-light: rgba(51, 110, 123, 0.04);
    --in-stock-alfa-dark: rgb(163, 104, 78, 0.1);
    --in-stock-alfa-light: rgba(163, 104, 78, 0.04);
    --store-related-alfa-dark: rgb(112, 112, 112, 0.1);
    --store-related-alfa-light: rgba(112, 112, 112, 0.04);

      /* :::::::::: Colores Pedidos:::::::::: */
      --NaranjaV:#FF8702;
      --AzulT:#96D0FF;
      --VerdeC: #B7FAA7;
      --VerdeTC:#00915A;
      --BeigeE:#F2C588;
      --LilaE: #CEA3FF;
      --RojoC: #FF0000;
      --GrisR: #C7C7C7;
      --AmarilloD: #FFF5A5;
      --AzulP:#008DE5;
      --RosaCR:#D300B7;
      --AmarilloPE:#F7E800;
      --RojoCSP:#B40000;
      --VerdeF: #5B8374;
}

/* Colores para etiquetas */
.blanco {
  color: var(--wwhite);
}

.negro {
  color: var(--bblack);
}

.gris1 {
  color: var(--gray1);
}

.gris2 {
  color: var(--gray2);
}

.gris3 {
  color: var(--gray3);
}

.gris4 {
  color: var(--gray4);
}

.naranja {
  color: var(--oorange);
}

.azul {
  color: var(--bblue);
}

.verde {
  color: var(--ggreen);
}

.rojo {
  color: var(--rred);
}

.nuevo {
  text-transform: uppercase;
  color: var(--oorange);
}

.notificacion {
  text-transform: uppercase;
  color: var(--order-related);
}

.promo-temporada {
  text-transform: uppercase;
  color: var(--special-offer);
}

.financiamiento {
  text-transform: uppercase;
  color: var(--affordability);
}

.promocion {
  color: var(--sale);
}

.oferta-especial {
  color: var(--special-offer);
}

.asequibilidad {
  color: var(--affordability);
}

.orden-relacionada {
  color: var(--order-related);
}

.en-stock {
  color: var(--in-stock);
}

.tienda-relacionada {
  color: var(--store-related);
  text-transform: uppercase;
  font-family: 'sf-pro-text-semibold';
}

.servicios-tienda-verde {
  color: var(--ggreen);
  text-transform: uppercase;
  font-family: 'sf-pro-text-semibold';
}