/* :::::::::: NAV :::::::::: */
div#nav {
    display: none;
}
ul#navbarSupportedContent {
    align-items: center !important;
    padding: 10px;
}
div#menu-ms {
    background: white;
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}
#carshop{
    position: initial !important;
    margin-top: 10px !important;
}
.sl-markdown-content h3:not(:where(.not-content *)) {
    font-size: initial;
    font-weight: initial;
}
.sl-markdown-content :not(a, strong, em, del, span, input, code, br) + :not(a, strong, em, del, span, input, code, br, :where(.not-content *)) {
    margin-top: 0;
}
.cardbtn {
    padding-bottom: 10px;
    padding-top: 10px;
    color: black;

}
.item-iconos.iconsright.bg-white {
    padding: 15px;
}
.cart-notification__header h5{
    color:black;
}
h3.cart-notification-product__name.h4{
    color:black;
}
.textitlecar2 h5{
    color:black; 
}
.boton-secundario {
    color: var(--bblue) !important;
}
#menu-ms li a {
    padding: 0;
}
a.text-decoration {
    justify-content: left;
    display: flex
;
}
ul#menu-ms {
    width: 100%;
    background: white;
    padding: 15px;
}
.continue_link {
    color: #0071e3 !important;
}
.droptab ul{
    margin-top:15px !important;

}
.sl-markdown-content :not(a, strong, em, del, span, input, code, br) + :not(a, strong, em, del, span, input, code, br, :where(.not-content *)) {
    margin-top: 0;
}

.sl-markdown-content :is(img, picture, video, canvas, svg, iframe):not(:where(.not-content *)) {
    display: none;
}
svg.cbsic__cbsi {
    display: block;
}

svg.legal-arrow {
    display: block;
}
.cardbtn svg{
    display: block;
}
.cart-notification-product__image picture{
    display: block;
}
.cart-count-bubble {
    height: 1.5rem;
    width: 1.5rem;
    min-height: 1.5rem;
    min-width: 1.5rem;

}
.cursorNone.h5collapse{
    display: block;
}
.legal-arrow.icontfooterc {
    display: block;
}
.cursorNone, .cursorNonesiempre, .cursorNonesiempreapleprimer {
    pointer-events: auto;
}
a.cursorNone{
    color: black;
}
a.cursorNone:hover{
    color: black;
}
.legal-arrow.icontfooterc {
    position: absolute;
    right: 0;
    top: 50%;
    color: #121212;
    font-weight: 400;
    display: block !important;
    font-size: 12px;
    width: 12px;
    height: 12px;
    text-align: center;
    align-content: center;
    transform: translateY(-50%);
}
a.cursorNone[aria-expanded="true"] {
    text-decoration: none;
    color: #0071e3;
}
a.cursorNone[aria-expanded="true"] svg{
    transform: rotate(180deg) translateY(50%) !important;
    transition-property: transform;
}
.border-responsive {
    border-bottom: 0.5px solid #000;
    padding-bottom: 14px;
    color: #0071e3 !important;
}
.account__container{
    color:black;
}
.cbs__cbsp {
    color: black;
}
.footgerwhite{
    padding: 12px;
}
a[aria-expanded="true"]:hover{
    color:black !important;
}
ul.listafooter {
    color: black;
}
ul.dropdown-menu.secundario a {
    display: block;
    text-decoration: none;
}
#menu-ms .respons li {
    padding: 1px 17px;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: white;
}
.listafooter a:hover{
    color:black;
}
.tabs-admin{
        display: flex;
        list-style: none;
        justify-content: left;
        padding: 0;
}
.nav2.active a {
    color: #0071e3 !important;
    font-family: 'sf-pro-display-light';
    font-size: 18px !important;
    padding: 5px 15px !important;
}
.nav2 svg {
    display:inline-flex;
}
.nav2.active a svg{
    color: #0071e3 !important;  
    fill: #0071e3;
    stroke: #0071e3;
}

div#menu1 {
    margin-top: -45px;
}
.tab-content {
    color: black !important;
}
.tab-content h3{
    color: black !important;
}
.p-20{
    padding: 20px;
}
@media (max-width: 1024px) {
    .-bgcollapse {
        position: initial !important;
    }
    div#menu-ms {
        background: white;
    }
    .stykynav {
        position: initial !important;
    }
    .menu[aria-expanded="true"]:before {
        position: initial;

    }
    #menu-ms .nav {
        height: 15vw !important;
    }
    div#nav {
        display: block;
    }
    div#bs-example-navbar-collapse-1{
        width: 89vw;
    }
    #menu-ms .nav {
        display: block;
        width: 89vw;
    }
    ul#navbarSupportedContent {
        margin: 0 !important;
    }
    #menu-ms .nav {
        align-items: center;
    }
    ul.dropdown-menu.secundario {
        position: relative !important;
        height: auto;
    }
    #carshop {
        position: relative !important;
        left: -18px !important;
        top: 0 !important;
        right: auto;
        float: left !important;
    }
    .item-iconos span {
        display: block;
    }
    #menu-ms li a {
        padding: 16px !important;
    }
    #menu-ms .respons li {
        padding: 1px 1px;
    }
    .navbar {
        min-height: 300px !important;
    }
    
}