.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9
}

.table-hover > tbody > tr:hover {
    background-color: #f5f5f5
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #111;
}
th {
    color: black;
    font-family: 'sf-pro-display-regular' !important;
}
.w-100{
    width: 100%;
}
.sl-markdown-content :not(a, strong, em, del, span, input, code, br) + :not(a, strong, em, del, span, input, code, br, :where(.not-content *)) {
    margin-top: 0;
}
.text-right {
    text-align: right;
}
.afs {
    text-align: right;
}
.tablas{
    margin-top:30px !important;
}