---
import "/src/css/banners.css";
---

<style>
    .contenedorx {
        overflow: hidden;
    }
    #carrusel-x {
        border-bottom: none !important;
        box-sizing: border-box;
    }

    #carrusel-x img {
        cursor: pointer;
    }
    #carrusel-x .banner-home-pagination {
    }
</style>
<div class="contenedorx">
    <div class="swiper banner-home-swiper carousel" id="carrusel-x">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="item active">
                    <div class="bloquecolor" style="background-color:#000000">
                        <a href="#">
                            <picture>
                                <source
                                    media="(max-width: 700px)"
                                    srcset="https://webonline.macstore.mx/img/sliderhome/iPhone_16_Pro_M.webp"
                                    width="500"
                                    height="600"
                                    type="image/webp"
                                />
                                <source
                                    media="(max-width: 700px)"
                                    srcset="https://webonline.macstore.mx/img/sliderhome/iPhone_16_Pro_M.jpg"
                                    width="500"
                                    height="600"
                                />
                                <source
                                    media="(min-width: 1501px)"
                                    srcset="https://webonline.macstore.mx/img/sliderhome/iPhone_16_Pro_D.webp"
                                    width="1400"
                                    height="407"
                                    type="image/webp"
                                />
                                <source
                                    media="(min-width: 1501px)"
                                    srcset="https://webonline.macstore.mx/img/sliderhome/iPhone_16_Pro_D.jpg"
                                    width="1400"
                                    height="407"
                                />
                                <img
                                    src="https://webonline.macstore.mx/img/sliderhome/iPhone_16_Pro_D.jpg"
                                    alt="iPhone 16 Pro"
                                    class="img-responsivex"
                                    height="407"
                                    width="1400"
                                    loading="lazy"
                                />
                            </picture>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="item">
                    <div class="bloquecolor" style="background-color:#f6f5f8">
                        <a href="#">
                            <picture>
                                <source
                                    media="(max-width: 700px)"
                                    srcset="https://webonline.macstore.mx/img/sliderhome/banner_macbook-pro_m.webp"
                                    width="500"
                                    height="600"
                                    type="image/webp"
                                />
                                <source
                                    media="(max-width: 700px)"
                                    srcset="https://webonline.macstore.mx/img/sliderhome/banner_macbook-pro_m.jpg"
                                    width="500"
                                    height="600"
                                />
                                <source
                                    media="(min-width: 1501px)"
                                    srcset="https://webonline.macstore.mx/img/sliderhome/banner_macbook-pro.webp"
                                    width="1400"
                                    height="407"
                                    type="image/webp"
                                />
                                <source
                                    media="(min-width: 1501px)"
                                    srcset="https://webonline.macstore.mx/img/sliderhome/banner_macbook-pro.jpg"
                                    width="1400"
                                    height="407"
                                />
                                <img
                                    src="https://webonline.macstore.mx/img/sliderhome/banner_macbook-pro.jpg"
                                    alt="MacBook Pro M4"
                                    height="407"
                                    width="1400"
                                    loading="lazy"
                                />
                            </picture>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="item">
                    <div class="bloquecolor" style="background-color:#000000">
                        <a href="#">
                            <picture>
                                <source
                                    media="(max-width: 700px)"
                                    srcset="https://webonline.macstore.mx/img/sliderhome/banner_imac_m.webp"
                                    width="500"
                                    height="600"
                                    type="image/webp"
                                />
                                <source
                                    media="(max-width: 700px)"
                                    srcset="https://webonline.macstore.mx/img/sliderhome/banner_imac_m.jpg"
                                    width="500"
                                    height="600"
                                />
                                <source
                                    media="(min-width: 1501px)"
                                    srcset="https://webonline.macstore.mx/img/sliderhome/banner_imac.webp"
                                    width="1400"
                                    height="407"
                                    type="image/webp"
                                />
                                <source
                                    media="(min-width: 1501px)"
                                    srcset="https://webonline.macstore.mx/img/sliderhome/banner_imac.jpg"
                                    width="1400"
                                    height="407"
                                />
                                <img
                                    src="https://webonline.macstore.mx/img/sliderhome/banner_imac.jpg"
                                    alt="iMac M4"
                                    class="img-responsivex"
                                    height="407"
                                    width="1400"
                                    loading="lazy"
                                />
                            </picture>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination banner-home-pagination"></div>
    </div>
</div>
<script>
    const bannerHomeSwiper = new Swiper(".banner-home-swiper", {
        slidesPerView: 1,
        loop: true,
        autoHeight: true,
        autoplay: {
            delay: 6000,
        },
        resizeObserver: true,
        updateOnWindowResize: true,
        pagination: {
            el: ".banner-home-pagination",
            clickable: true,
        },
    });
</script>
