---
import { Card, CardGrid, Code } from '@astrojs/starlight/components';
import { readdirSync, readFileSync } from 'node:fs';
const pathCXIcons = "/public/downloads/icons/cx/";
---
<div class="cx-icons-gallery">
    <CardGrid>
        { readdirSync(`.${ pathCXIcons }`).map((pathNameFile) => (
            <Card title={ pathNameFile }>
                <div set:html={readFileSync(`.${ pathCXIcons + pathNameFile }`, 'utf-8')
                    .replace(/width="\d+"/, 'width="24"')
                    .replace(/height="\d+"/, 'height="24"')
                    .replace(/fill="black"*/g, 'fill="currentColor"')
                }>
                </div>
                <Code code={readFileSync(`.${ pathCXIcons + pathNameFile }`, 'utf-8')} lang="html" />
            </Card>
        ))}
    </CardGrid>    
</div>

