---
import "/src/css/ribbonbanner.css";
---

<style>
    #plecab
        :not(a, strong, em, del, span, input, code, br)
        + :not(
            a,
            strong,
            em,
            del,
            span,
            input,
            code,
            br,
            :where(.not-content *)
        ) {
        margin-top: 0px !important;
    }

    #plecab p a {
        text-decoration: none;
        font-size: 14px;
        font-family: sf-pro-display-light !important;
    }

    #plecab p {
        line-height: 30px;
    }

    .lobs .swiper-button-prev svg {
        position: inherit !important;
    }

    .lobs .swiper-button-next svg {
        position: inherit !important;
    }
    .contenedorx {
        overflow: hidden;
    }

    #plecab .ld::after {
        content: url("https://webonline.macstore.mx/img/cx/SiteIconsCX/icon.regular/4.2.Chevron-%20Right.svg");
        position: absolute;
        top: -7px;
        left: 0px;
        filter: invert(1);
    }

    #plecab .rd::after {
        content: url("https://webonline.macstore.mx/img/cx/SiteIconsCX/icon.regular/4.1.Chevron-%20Left.svg");
        position: absolute;
        top: -9px;
        right: 0px;
        filter: invert(1);
    }
</style>
<div class="contenedorx">
    <div class="container-fluid" id="plecab">
        <div class="container swiper carruel-header-info">
            <div class="swiper-wrapper">
                <div class="swiper-slide text-center">
                    <p class="text-center title-regular">
                        <a href="#">
                            Con el iPad es fácil, lo tiene todo. - <span
                                class="textplaceholder2">Desde $5,499*</span
                            >
                        </a>
                    </p>
                </div>
                <div class="swiper-slide text-center">
                    <p class="title-regular text-center">
                        <a href="#">
                            Con el MacBook Pro Chip M3, lo tienes todo. - <span
                                class="textplaceholder2">Desde $34,999*</span
                            >
                        </a>
                    </p>
                </div>
                <div class="swiper-slide text-center">
                    <p class="title-regular">
                        <a href="#">
                            Protege tus equipos con AppleCare+ - <span
                                class="textplaceholder2">Saber más</span
                            ></a
                        >
                    </p>
                </div>
            </div>
            <div class="swiper-button-next header-n navazul ld"></div>
            <div class="swiper-button-prev header-p navazul rd"></div>
        </div>
    </div>
</div>
<script>
    var swiper = new Swiper(".carruel-header-info", {
        slidesPerView: 1,
        spaceBetween: 10,
        loop: true,
        pagination: {
            clickable: true,
        },
        navigation: {
            nextEl: ".header-n",
            prevEl: ".header-p",
        },
    });
</script>

<div
    role="row"
    data-column-group=""
    class="compare-row compare-template-preview-item-button"
>
    <div role="rowheader" aria-rowspan="0" class="compare-rowheader">
        <div class="visuallyhidden">Comprar</div>
    </div>
    <div role="cell" class="first-child compare-column product-0">
        <div
            class="button-container"
            index="0"
            product-name="MacBook Air 13-in. (M3)"
        >
            <a
                id="MacBook Air 13-in. (M3)"
                href="/productos/compra/comapp1145"
                aria-label="Comprar la MacBook Air de 13 pulgadas (M3)"
                class="button compare-button">Comprar</a
            >
        </div>
    </div>
    <div role="cell" class="compare-column product-1">
        <div
            class="button-container"
            index="1"
            product-name="MacBook Air 13-in. (M2)"
        >
            <a
                id="MacBook Air 13-in. (M2)"
                href="/productos/compra/comapp1075"
                aria-label="Comprar la MacBook Air de 13 pulgadas (M2)"
                class="button compare-button">Comprar</a
            >
        </div>
    </div>
    <div role="cell" class="compare-column product-2">
        <div
            class="button-container"
            index="2"
            product-name="MacBook Air 13-in. (M1, 2020)"
        >
            <a
                id="MacBook Air 13-in. (M1, 2020)"
                href="/productos/compra/comapp1037"
                aria-label="Comprar la MacBook Air de 13 pulgadas (M2)"
                class="button compare-button">Comprar</a
            >
        </div>
    </div>
    <div role="cell" class="compare-column product-3">
        <div
            class="button-container"
            index="3"
            product-name="MacBook Air 15-in. (M3)"
        >
            <a
                id="MacBook Air 15-in. (M3)"
                href="/productos/compra/comapp1159"
                aria-label="Comprar la MacBook Air de 15 pulgadas (M3)"
                class="button compare-button">Comprar</a
            >
        </div>
    </div>
    <div role="cell" class="compare-column product-4">
        <div
            class="button-container"
            index="4"
            product-name="MacBook Air 15-in. (M2, 2023)"
        >
            <a
                id="MacBook Air 15-in. (M2, 2023)"
                href="/productos/compra/comapp1101"
                aria-label="Comprar la MacBook Air de 15 pulgadas (M3)"
                class="button compare-button">Comprar</a
            >
        </div>
    </div>
    <div role="cell" class="compare-column product-5 compare-column-0">
        <div
            class="button-container"
            index="5"
            product-name="MacBook Pro 14-in. (M4)"
        >
            <a
                id="MacBook Pro 14-in. (M4)"
                href="/productos/compra/comapp1212"
                aria-label="Comprar la MacBook Pro de 14 pulgadas (M4)"
                class="button compare-button">Comprar</a
            >
        </div>
    </div>
    <div role="cell" class="compare-column product-6 compare-column-1">
        <div
            class="button-container"
            index="6"
            product-name="MacBook Pro 14-in. (M4 Pro or M4 Max)"
        >
            <a
                id="MacBook Pro 14-in. (M4 Pro or M4 Max)"
                href="#"
                aria-label="Comprar la MacBook Pro de 14 pulgadas (M4 Pro o M4 Max)"
                class="button compare-button">Comprar</a
            >
        </div>
    </div>
    <div role="cell" class="compare-column product-7 compare-column-2">
        <div
            class="button-container"
            index="7"
            product-name="MacBook Pro 16-in. (M4 Pro or M4 Max)"
        >
            <a
                id="MacBook Pro 16-in. (M4 Pro or M4 Max)"
                href="/productos/compra/comapp1216"
                aria-label="Comprar la MacBook Pro de 16 pulgadas (M4 Pro o M4 Max)"
                class="button compare-button">Comprar</a
            >
        </div>
    </div>
    <div role="cell" class="compare-column product-8">
        <div
            class="button-container"
            index="8"
            product-name="MacBook Pro 14-in. (M3)"
        >
            <a
                id="MacBook Pro 14-in. (M3)"
                href="#"
                aria-label="Comprar la MacBook Pro de 14 pulgadas (M3)"
                class="button compare-button">Comprar</a
            >
        </div>
    </div>
    <div role="cell" class="compare-column product-9">
        <div
            class="button-container"
            index="9"
            product-name="MacBook Pro 14-in. (M3 Pro or M3 Max)"
        >
            <a
                id="MacBook Pro 14-in. (M3 Pro or M3 Max)"
                href="/productos/compra/comapp1119"
                aria-label="Comprar la MacBook Pro de 14 pulgadas (M3 Pro o M3 Max)"
                class="button compare-button">Comprar</a
            >
        </div>
    </div>
    <div role="cell" class="compare-column product-10">
        <div
            class="button-container"
            index="10"
            product-name="MacBook Pro 16-in. (M3 Pro or M3 Max)"
        >
            <a
                id="MacBook Pro 16-in. (M3 Pro or M3 Max)"
                href="/productos/compra/comapp1129"
                aria-label="Comprar la MacBook Pro de 16 pulgadas (M3 Pro o M3 Max)"
                class="button compare-button">Comprar</a
            >
        </div>
    </div>
    <div role="cell" class="compare-column product-11">
        <div
            class="button-container"
            index="11"
            product-name="MacBook Air (Intel, 2020)"
        >
            <div class="mdash-container">
                <p aria-hidden="true" class="mdash copy helvetica-neue">—</p>
                <p class="visuallyhidden">No disponible</p>
            </div>
        </div>
    </div>
    <div role="cell" class="compare-column product-12">
        <div
            class="button-container"
            index="12"
            product-name="MacBook Air (Intel, 2017)"
        >
            <div class="mdash-container">
                <p aria-hidden="true" class="mdash copy helvetica-neue">—</p>
                <p class="visuallyhidden">No disponible</p>
            </div>
        </div>
    </div>
    <div role="cell" class="compare-column product-13">
        <div
            class="button-container"
            index="13"
            product-name="MacBook Pro 13-in. (M2, 2022)"
        >
            <div class="mdash-container">
                <p aria-hidden="true" class="mdash copy helvetica-neue">—</p>
                <p class="visuallyhidden">No disponible</p>
            </div>
        </div>
    </div>
    <div role="cell" class="compare-column product-14">
        <div
            class="button-container"
            index="14"
            product-name="MacBook Pro 13-in. (M1, 2020)"
        >
            <div class="mdash-container">
                <p aria-hidden="true" class="mdash copy helvetica-neue">—</p>
                <p class="visuallyhidden">No disponible</p>
            </div>
        </div>
    </div>
    <div role="cell" class="compare-column product-15">
        <div
            class="button-container"
            index="15"
            product-name="MacBook Pro 13-in. (Intel, two ports, 2020)"
        >
            <div class="mdash-container">
                <p aria-hidden="true" class="mdash copy helvetica-neue">—</p>
                <p class="visuallyhidden">No disponible</p>
            </div>
        </div>
    </div>
    <div role="cell" class="compare-column product-16">
        <div
            class="button-container"
            index="16"
            product-name="MacBook Pro 13-in. (Intel, four ports, 2020)"
        >
            <div class="mdash-container">
                <p aria-hidden="true" class="mdash copy helvetica-neue">—</p>
                <p class="visuallyhidden">No disponible</p>
            </div>
        </div>
    </div>
    <div role="cell" class="compare-column product-17">
        <div
            class="button-container"
            index="17"
            product-name="MacBook Pro 14-in. (M2 Pro or M2 Max, 2023)"
        >
            <div class="mdash-container">
                <p aria-hidden="true" class="mdash copy helvetica-neue">—</p>
                <p class="visuallyhidden">No disponible</p>
            </div>
        </div>
    </div>
    <div role="cell" class="compare-column product-18">
        <div
            class="button-container"
            index="18"
            product-name="MacBook Pro 14-in. (M1 Pro or M1 Max, 2021)"
        >
            <a
                id="MacBook Pro 14-in. (M1 Pro or M1 Max, 2021)"
                href="/productos/compra/comapp1066"
                aria-label="Comprar la MacBook Pro de 16 pulgadas (M3 Pro o M3 Max)"
                class="button compare-button">Comprar</a
            >
        </div>
    </div>
    <div role="cell" class="compare-column product-19">
        <div
            class="button-container"
            index="19"
            product-name="MacBook Pro 16-in. (M2 Pro or M2 Max, 2023)"
        >
            <div class="mdash-container">
                <p aria-hidden="true" class="mdash copy helvetica-neue">—</p>
                <p class="visuallyhidden">No disponible</p>
            </div>
        </div>
    </div>
    <div role="cell" class="compare-column product-20">
        <div
            class="button-container"
            index="20"
            product-name="MacBook Pro 16-in. (M1 Pro or M1 Max, 2021)"
        >
            <a
                id="MacBook Pro 16-in. (M1 Pro or M1 Max, 2021)"
                href="https://cxtest.macstore.mx/productos/compra/comapp1071"
                aria-label="Comprar la MacBook Pro de 16 pulgadas (M3 Pro o M3 Max)"
                class="button compare-button">Comprar</a
            >
        </div>
    </div>
    <div role="cell" class="compare-column product-21">
        <div
            class="button-container"
            index="21"
            product-name="MacBook Pro 16-in. (Intel, 2019)"
        >
            <div class="mdash-container">
                <p aria-hidden="true" class="mdash copy helvetica-neue">—</p>
                <p class="visuallyhidden">No disponible</p>
            </div>
        </div>
    </div>
    <div role="cell" class="compare-column product-22">
        <div
            class="button-container"
            index="22"
            product-name="iMac (M4, two ports)"
        >
            <a
                id="iMac (M4, two ports)"
                href="/productos/compra/comapp1171"
                aria-label="Comprar la iMac (M4, dos puertos)"
                class="button compare-button">Comprar</a
            >
        </div>
    </div>
    <div role="cell" class="compare-column product-23">
        <div
            class="button-container"
            index="23"
            product-name="iMac (M4, four ports)"
        >
            <a
                id="iMac (M4, four ports)"
                href="/productos/compra/comapp1171"
                aria-label="Comprar la iMac (M4, cuatro puertos)"
                class="button compare-button">Comprar</a
            >
        </div>
    </div>
    <div role="cell" class="compare-column product-24">
        <div
            class="button-container"
            index="24"
            product-name="iMac (M3, two ports)"
        >
            <a
                id="iMac (M3, two ports)"
                href="/productos/compra/comapp1111"
                aria-label="Comprar la iMac (M3, dos puertos)"
                class="button compare-button">Comprar</a
            >
        </div>
    </div>
    <div role="cell" class="compare-column product-25">
        <div
            class="button-container"
            index="25"
            product-name="iMac (M3, four ports)"
        >
            <a
                id="iMac (M3, four ports)"
                href="/productos/compra/comapp1111"
                aria-label="Comprar la iMac (M3, cuatro puertos)"
                class="button compare-button">Comprar</a
            >
        </div>
    </div>
    <div role="cell" class="compare-column product-26">
        <div
            class="button-container"
            index="26"
            product-name="Mac mini (M4 or M4 Pro)"
        >
            <a
                id="Mac mini (M4 or M4 Pro)"
                href="/productos/compra/comapp1186"
                aria-label="Comprar la Mac mini (M4 o M4 Pro)"
                class="button compare-button">Comprar</a
            >
        </div>
    </div>
    <div role="cell" class="compare-column product-27">
        <div
            class="button-container"
            index="27"
            product-name="Mac mini (M2 or M2 Pro)"
        >
            <a
                id="Mac mini (M2 or M2 Pro)"
                href="/productos/compra/cpuapp362"
                aria-label="Comprar la Mac mini (M2 o M2 Pro)"
                class="button compare-button">Comprar</a
            >
        </div>
    </div>
    <div role="cell" class="compare-column product-28">
        <div
            class="button-container"
            index="28"
            product-name="Mac Studio (M2 Max or M2 Ultra)"
        >
            <a
                id="Mac Studio (M2 Max or M2 Ultra)"
                href="/compra/cpuapp363"
                aria-label="Comprar la Mac Studio (M2 Max o M2 Ultra)"
                class="button compare-button">Comprar</a
            >
        </div>
    </div>
    <div role="cell" class="compare-column product-29">
        <div
            class="button-container"
            index="29"
            product-name="Mac Pro (M2 Ultra)"
        >
            <div class="mdash-container">
                <p aria-hidden="true" class="mdash copy helvetica-neue">—</p>
                <p class="visuallyhidden">No disponible</p>
            </div>
        </div>
    </div>
    <div role="cell" class="compare-column product-30">
        <div
            class="button-container"
            index="30"
            product-name="iMac 21.5-in. (Intel, 2019)"
        >
            <div class="mdash-container">
                <p aria-hidden="true" class="mdash copy helvetica-neue">—</p>
                <p class="visuallyhidden">No disponible</p>
            </div>
        </div>
    </div>
    <div role="cell" class="compare-column product-31">
        <div
            class="button-container"
            index="31"
            product-name="iMac 21.5-in. (Intel, 2017)"
        >
            <div class="mdash-container">
                <p aria-hidden="true" class="mdash copy helvetica-neue">—</p>
                <p class="visuallyhidden">No disponible</p>
            </div>
        </div>
    </div>
    <div role="cell" class="compare-column product-32">
        <div
            class="button-container"
            index="32"
            product-name="iMac 24-in. (M1, two ports, 2021)"
        >
            <a
                id="iMac 24-in. (M1, two ports, 2021)"
                href="/productos/compra/comapp1047"
                aria-label="Comprar la Mac Studio (M2 Max o M2 Ultra)"
                class="button compare-button">Comprar</a
            >
        </div>
    </div>
    <div role="cell" class="compare-column product-33">
        <div
            class="button-container"
            index="33"
            product-name="iMac 24-in. (M1, four ports, 2021)"
        >
            <a
                id="iMac 24-in. (M1, four ports, 2021)"
                href="/productos/compra/comapp1047"
                aria-label="Comprar la Mac Studio (M2 Max o M2 Ultra)"
                class="button compare-button">Comprar</a
            >
        </div>
    </div>
    <div role="cell" class="compare-column product-34">
        <div
            class="button-container"
            index="34"
            product-name="iMac 27-in. (Intel, 2020)"
        >
            <div class="mdash-container">
                <p aria-hidden="true" class="mdash copy helvetica-neue">—</p>
                <p class="visuallyhidden">No disponible</p>
            </div>
        </div>
    </div>
    <div role="cell" class="compare-column product-35">
        <div
            class="button-container"
            index="35"
            product-name="iMac Pro (Intel, 2017)"
        >
            <div class="mdash-container">
                <p aria-hidden="true" class="mdash copy helvetica-neue">—</p>
                <p class="visuallyhidden">No disponible</p>
            </div>
        </div>
    </div>
    <div role="cell" class="compare-column product-36">
        <div
            class="button-container"
            index="36"
            product-name="Mac mini (M1, 2020)"
        >
            <div class="mdash-container">
                <p aria-hidden="true" class="mdash copy helvetica-neue">—</p>
                <p class="visuallyhidden">No disponible</p>
            </div>
        </div>
    </div>
    <div role="cell" class="compare-column product-37">
        <div
            class="button-container"
            index="37"
            product-name="Mac mini (Intel, 2018)"
        >
            <div class="mdash-container">
                <p aria-hidden="true" class="mdash copy helvetica-neue">—</p>
                <p class="visuallyhidden">No disponible</p>
            </div>
        </div>
    </div>
    <div role="cell" class="compare-column product-38">
        <div
            class="button-container"
            index="38"
            product-name="Mac Studio (M1 Max or M1 Ultra, 2022)"
        >
            <div class="mdash-container">
                <p aria-hidden="true" class="mdash copy helvetica-neue">—</p>
                <p class="visuallyhidden">No disponible</p>
            </div>
        </div>
    </div>
    <div role="cell" class="compare-column product-39">
        <div
            class="button-container"
            index="39"
            product-name="Mac Pro (Intel, 2019)"
        >
            <div class="mdash-container">
                <p aria-hidden="true" class="mdash copy helvetica-neue">—</p>
                <p class="visuallyhidden">No disponible</p>
            </div>
        </div>
    </div>
</div>
